{% extends 'layout.html' %}
{% block content %} 
<div class="container">
    <div class="row bg-secondary bg-gradient border">
        <h4 class="text-center">Story and Mission of the Project</h4>
    </div>
    <div class="row">
        <div class="col border">
            <h4 class="text-center">Project story</h4>
            <p>
                This project is developed to improve the developers experience in Machine learning algorithms and Web development. 
                The datasets used in this project are taken from kaggle and the models deployed in this has the accuracy greater than 90%.
                The developers are unsure if the datasets used to develop the models are real.
            </p>
        </div>

        <div class="col border">
            <h4 class="text-center">Project mission</h4>
            <p>
                To improve the skills of the developers in building a model using Machine learning algorithms and their Web development skills.
            </p>
        </div>
    </div>
</div>

<div class="container border">
    <div class="row bg-secondary bg-gradient border">
        <h4 class="text-center">Developer</h4>
    </div>
    <div class="row">
            <h4 class="text-center">Erl Jerrald Jocson</h4>
            <p>
                BS Mathematics student in Laguna State Polytechnic University (LSPU) Santa cruz campus.
            </p>
    </div>
</div>
{% endblock %}