{% extends 'layout.html' %}
{% block content %} 
<div class="container">
        <h4 class="text-center">Overview</h4>
        <p>Some of the models are still being developed. 
            Therefore, some of the products are not available. 
            There are three products that are ready to be used, 
            Heart attack prediction, lung cancer prediction and titanic disaster.
        </p>
    <div class="row">
        <div class="col">
            <h4 class="text-center">Machine learning</h4>
            <p>Machine learning is a method of data analysis that automates analytical model building. 
                It is a branch of artificial intelligence based on the idea that systems can learn from data, 
                identify patterns and make decisions with minimal human intervention. <a href="https://www.sas.com/en_ph/insights/analytics/machine-learning.html#:~:text=Machine%20learning%20is%20a%20method,decisions%20with%20minimal%20human%20intervention.">Read more</a>.</p>
        </div>
        <div class="col">
            <h4 class="text-center"> Web development</h4>
            <p>Web development is the work involved in developing a Web site for the Internet 
                (World Wide Web) or an intranet (a private network). Web development can range from developing 
                a simple single static page of plain text to complex web applications, electronic businesses, 
                and social network services. A more comprehensive list of tasks to which Web development commonly 
                refers, may include Web engineering, Web design, Web content development, client liaison, 
                client-side/server-side scripting, Web server and network security configuration, and e-commerce 
                development. <a href="https://en.wikipedia.org/wiki/Web_development">Read more</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}