{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col">
        <form action="#" method="POST">
            <div class="form-group">
                <label for="gender">Sex: </label>
                <select name="gender" class="form-select">
                    <option value="0" selected="selected">Male</option>
                    <option value="1" selected="selected">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="thal_rate">Thalassemia rate: </label>
                <input name="thal_rate" type="number" step="0.1" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="oldpeak">Previous peak: </label>
                <select class="form-select" name="oldpeak">
                    <option value="0" selected="selected">Low</option>
                    <option value="1" selected="selected">Terrible</option>
                </select>
            </div>
            <div class="from-group">
                <label for="slp">Heart rate slope</label>
                <select name="slp" class="form-select">
                    <option value="0">Normal</option>
                    <option value="1">Vagal</option>
                    <option value="2">Symp</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exng">Angina: </label>
                <select class="form-select" name="exng">
                    <option value="0" selected="selected">No</option>
                    <option value="1" selected="selected">Yes</option>
                </select>
            </div>
            <div class="form-group">
                <label for="chest_pain">Level of chest pain: </label>
                <select class="form-select" name="chest_pain">
                    <option value="0" selected="selected">0</option>
                    <option value="1" selected="selected">1</option>
                    <option value="2" selected="selected">2</option>
                    <option value="3" selected="selected">3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fbs">Fasting blood sugar is greater than 120: </label>
                <select class="form-select" name="fbs">
                    <option value="0" selected="selected">No</option>
                    <option value="1" selected="selected">Yes</option>
                </select>
            </div>
            <div class="form-group">
                <label for="restecg">Electrocardiographic results</label>
                <select class="form-select" name="restecg">
                    <option value="0" selected="selected">Normal</option>
                    <option value="2" selected="selected">Tachycardia (greater than 100 bpm)</option>
                    <option value="1" selected="selected">Bradycardia (less than 60 bpm)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="caa">Number of major vessels: </label>
                <select class="form-select" name="caa">
                    <option value="0" selected="selected">0</option>
                    <option value="1" selected="selected">1</option>
                    <option value="2" selected="selected">2</option>
                    <option value="3" selected="selected">3</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-info text-dark" type="submit" value="Submit">Start the analysis</button>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="text-center">
            {% if post == 2 %}
            <h3>Prediction:</h3>
            <p>You're in the risk of having a heart attack. Start living healthy.</p>
            {% elif post == 1 %}
            <h3>Prediction:</h3>
            <p>You're fine just keep taking care of yourself.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
