{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input name="age" type="number" step="1" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="smoke">How much do you smoke?</label>
                    <input type="number" name="smoke" step="1" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-info text-dark" type="submit" value="Submit">Start the analysis</button>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="text-center">
                {% if post == 1 %}
                <h3>Prediction:</h3>
                <p>You're in the risk of having Lung Cancer. Start living healthy.</p>
                {% elif post == 0 %}
                <h3>Prediction:</h3>
                <p>You're fine. Keep taking care of yourself.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}